<div class="home">
  <div class="banner">
    <div class="banner-content">
      <p>> <span class="slim">Create</span></p>
      <p>> <span class="slim">Share</span></p>
      <p>> <span class="slim green">Achieve</span></p>
      <p class="blink-box">></p>
    </div>
  </div>
  <div class="how-it-works">
    <h1>How it works...</h1>
    <h2>Finding help for your project</h2>
    <div class="smpl-btn">
      More info
    </div>
    <h2>Helping with someone else's project</h2>
    <div class="smpl-btn">
      More info
    </div>
  </div>
</div>
