<div class="container">
  <div class="project-index">
    <% @projects.each do |project| %>
      <div class="col-lg-6">
        <div class="card">
          <%= link_to project_path(project) do %>
          <% end %>
          <div class="card-content">
            <h1><%= project.title %></h1>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
