.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
  align-items: center;
  margin-bottom: 0;
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-weight: bold;
    margin: 0;
    font-size: 24px;
    color: white;
    border: 1px solid white;
    padding: 16px;
  }
  i {
    transition: 0.5s;
    color: $light-gray;
  }
  .user-options {
    position: relative;
  }

  .user-dropdown {
    position: relative;
    .dropdown-content {
      position: absolute;
      right: 0;
      text-align: right;
      display: none
    }
  }
  .user-options:hover .dropdown-content {
    display: block;
  }
  .user-options:hover i#user-icon {
    color: $green;
    cursor: pointer;
  }

}
.navbar:before, .navbar:after {
  display: table;
  content: none;
}
